@model ResApp.Models.Cert

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAcquired" class="control-label"></label>
                <input asp-for="DateAcquired" class="form-control" />
                <span asp-validation-for="DateAcquired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateExpired" class="control-label"></label>
                <input asp-for="DateExpired" class="form-control" />
                <span asp-validation-for="DateExpired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select 
                    asp-for="ApplicantID" 
                    asp-items="@(new SelectList(ViewBag.Applicants, "ID", "LastName"))" class="form-control" >
                    <option>Please select one</option>
                </select>   
                <span asp-validation-for="ApplicantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
